body{
    padding: 0;
    margin: 0;
}

#playground{
    padding: 170px 800px 0px 750px;
}

#figure{
    height: 300px;
    width: 300px;
    background-color: blue;
}

#time{
    font-size: 125%;
    font-weight: bold;
    color: red;
}
